@media (max-width: 1200px) {
   .pageup {
      right: 0;
      width: 0;
      height: 0;
   }
   .advice {
      padding: 85px 0 62px 0;
   }
}

@media (max-width: 992px) {
   .advantages {
      &__box {
         width: 233px;
      }
   }

   .advice {
      max-height: 600px;
      padding: 70px 0 62px 0;
      &__title {
         font-size: 31px;
      }
      &__descr {
         margin-top: 30px;
      }
   }
   .catalog {
      &__contant {
         display: none;
         justify-content: space-around;
         flex-wrap: wrap;
         &-active {
            display: flex;
         }
      }
   }
   .recall {
      &__avatar {
         margin: 0px 30px 0px 10px;
      }
   }
}

@media (max-width: 767px) {
   .header {
      &__official {
         display: none;
      }
   }
   .promo {
      padding: 24px 0 65px 0;
      &__header {
         font-size: 34px;
      }
      &__subheader {
         font-size: 19px;
      }
      &__icons {
         margin-top: 43px;
         width: 346px;
      }
   }
   .advantages {
      padding: 52px 0 66px 0;
      &__title {
         margin-bottom: 30px;
      }
      &__wrapper {
         flex-direction: column;
         justify-content: center;
      }
      &__box {
         margin: 0 auto;
         min-width: 540px;
      }
      &__img {
         margin-top: 20px;
      }
      &__subtitle {
         margin-top: 20px;
      }
   }
   .advice {
      padding: 65px 0 70px 0;
      &__title {
         font-size: 24px;
      }
   }
   .catalog {
      padding-bottom: 45px;
      &__tabs {
         margin-top: 49px;
         margin-bottom: 45px;
      }
      &__tab {
         font-size: 15px;
      }
   }
   .recall {
      &__avatar {
         width: 162px;
         height: 137px;
         margin: 0px 20px 0px 10px;
      }
      &__text {
         font-size: 15px;
         font-weight: 400;
      }
   }
}

@media (max-width: 450px) {
   .header {
      &__logo {
         width: 250px;
         img {
            width: 100%;
         }
      }
   }
}

@media (max-width: 575px) {
   .carousel {
      display: none;
   }

   .promo {
      min-height: 640px;
      padding: 24px 0 40px 0;
      &__header {
         font-size: 35px;
      }
      &__subheader {
         font-size: 18px;
      }
      &__icons {
         margin-top: 60px;
         width: 290px;
      }
      &__icon {
         width: 94px;
         height: 68px;
         font-size: 11px;
         img {
            max-width: 100%;
            max-height: 100%;
         }
      }
      &__wrapper {
         margin-top: 100px;
      }
   }

   .header {
      &__phone {
         font-size: 16px;
         margin: 4px;
      }
      &__contacts {
         margin-top: 5px;
      }
      &__logo {
         width: 240px;
         margin: 0px 14px 0px 0px;
         img {
            width: 100%;
         }
      }
   }
   .advantages {
      padding: 11px 0 50px 0;
      &__title {
         margin-top: 25px;
         font-size: 19px;
         font-weight: 700;
         margin-bottom: 30px;
      }
      &__box {
         margin: 0 auto;
         min-width: 280px;
      }
   }
   .advice {
      padding: 50px 0 62px 0;
      &__title {
         font-size: 19px;
         font-weight: 700;
      }

      &__descr {
         margin-top: 25px;
         font-size: 13px;
      }
   }

   .feed-form {
      width: 270px;
      margin-top: 28px;
   }

   .button {
      font-size: 11px;
      height: 30px;
      &-submit {
         font-size: 14px;
         height: 50px;
      }
      &-mini {
         width: 127px;
         height: 37px;
         font-size: 12px;
      }
      &-main {
         margin-top: 53px;
         width: 284px;
         height: 47px;
         font-size: 14px;
      }
   }
   .feed-form {
      width: 270px;
      margin-top: 28px;
   }

   .catalog {
      padding-bottom: 15px;
      &__tabs {
         margin-top: 20px;
         margin-bottom: 20px;
         padding-left: 0;
         list-style-type: none;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
      }
      &__tab {
         height: 45px;
      }

      &-item {
         &__old-price {
            font-size: 11px;
         }
         &__price {
            font-size: 14px;
         }
         &__wrapper {
            display: flex;
            width: calc(220% + 40px);
         }
         &__content {
            &-active {
               margin-right: 72px;
            }
         }
         &__list {
            &-active {
               padding-right: 25px;
            }
         }
      }
   }

   .carousel {
      padding: 29px 0;
   }

   .recall {
      margin-bottom: 47px;
      &__aside {
         margin: 0px 0px 0px 20px;
      }
      &__avatar {
         display: none;
      }
      &__text {
         font-size: 14px;
         font-weight: 300;
      }
      .recall__attempt {
         margin-bottom: 10px;
      }
      hr {
         margin: 25px 0 22px 0;
      }
   }

   .footer {
      &__info {
         width: 270px;
         height: 170px;
         padding: 22px 40px 40px 40px;
      }
      &__addr {
         font-size: 15px;
         margin-bottom: 12px;
      }
      &__phone {
         font-size: 15px;
         margin-bottom: 10px;
      }
      &__social {
         &-item {
            width: 35px;
            height: 35px;
            margin: 0 5px;
            img {
               height: 17px;
            }
         }
      }
   }
}

@media (max-width: 480px) {
   .promo {
      &__header {
         font-size: 30px;
      }
      &__subheader {
         font-size: 16px;
      }
   }
}

@media (max-width: 410px) {
   .header {
      display: block;
      &__logo {
         width: 250px;
         img {
            width: 100%;
         }
      }
      &__phone {
         margin: 9px 6px 0px 0px;
      }
   }
   .promo {
      &__header {
         font-size: 23px;
      }
      &__subheader {
         font-size: 13px;
      }
   }
}
