.carousel {
   padding: 61px 0;

   &__inner {
      position: relative;
      max-width: 750px;
      margin: 0 auto;
   }

   .slick-prev,
   .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      background: none;
      border: none;
      img {
         width: 31px;
         height: 50px;
      }
   }

   .slick-next {
      right: -66px;
      left: auto;
   }

   .slick-slider {
      img {
         max-width: 100%;
         margin: 0 auto;
      }
   }
}
