.recall {
   margin-bottom: 71px;

   &__wrapper {
      max-width: 950px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
   }

   hr {
      width: 940px;
      height: 1px;
      background-color: #f6f6f6;
      border: none;
      margin: 48px 0 53px 0;
   }

   &__avatar {
      width: 169px;
      height: 169px;
      margin-right: 62px;
   }

   &__name {
      font-size: 18px;
      font-weight: 700;
      color: #0d0d0d;
      margin-bottom: 10px;
   }

   &__attempt {
      font-size: 14px;
      font-weight: 300;
      color: #646464;
      margin-bottom: 19px;
   }

   &__text {
      max-width: 650px;
      font-size: 15px;
      font-weight: 500;
      color: #0d0d0d;
   }
}
